In [2]:
import sqlite3 as sql

In [3]:
connection = sql.connect('sql_test.db') # name of the DB we want to open

In [4]:
cursor = connection.cursor() # initialize a cursor

In [5]:
type(cursor)

sqlite3.Cursor

In [6]:
cursor.execute('''DROP TABLE IF EXISTS People;''') # execution of the SQL command
cursor.execute('''CREATE TABLE People (id INTEGER PRIMARY KEY, nickname TEXT NOT NULL UNIQUE)''')

In [7]:
connection.commit()

In [8]:
cursor.execute("DELETE FROM People WHERE id=1;")

## Execute many

In [9]:
courses = ( (2,'MadMax' ), (3,'FoxGuy'))
cursor.executemany('''INSERT INTO People VALUES (?,?)''',courses)

In [38]:
cursor.execute("SELECT * FROM People;")

### FETCH ALL

In [39]:
People = cursor.fetchall()

In [42]:
print(People)

[(2, 'nick'), (3, 'guy')]

In [43]:
People[1][0]

3

In [46]:
connection.commit()

In [47]:
connection.close()

### Dealing with errors

In [ ]:
try:
    print('connection successful ')
except sql.Error as error
    print(error)

finally: #whatever happens close the connection
    connection.close()

### Other SQL terms

UPDATE
LIMIT
ORDER BY
BROUP BY
AND
OR
MIN
MAX
AVG
SUM
COUNT